<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>389481034909-mmhc04amqq3d7j02dckjcu216mbt5d5g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.389481034909-mmhc04amqq3d7j02dckjcu216mbt5d5g</string>
	<key>API_KEY</key>
	<string>AIzaSyClImM7kIQG5WpWNPs_Nw599uvq1wBvy98</string>
	<key>GCM_SENDER_ID</key>
	<string>389481034909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taska</string>
	<key>PROJECT_ID</key>
	<string>taska-e393e</string>
	<key>STORAGE_BUCKET</key>
	<string>taska-e393e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:389481034909:ios:d1baf7615cf9eec1db9074</string>
</dict>
</plist>